<form action="/find" method="get">

<label for="searchBox">
    <input id='searchBoxInfo' type="text" placeholder="Enter Artists Name Here" name="artistSearch">
</label>

<br>

<button>Search</button>
</form>